* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: DM400;
  src: url(../../fonts/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}
@font-face {
  font-family: PS400;
  src: url(../../fonts/Public_Sans/PublicSans-Regular.ttf);
}
@font-face {
  font-family: PS700;
  src: url(../../fonts/Public_Sans/PublicSans-Bold.ttf);
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

.container {
  margin: 0 auto;
  width: 85%;
  max-width: 1440px;
}

.navbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 42px;
  padding-bottom: 32px;
}

.nav-list {
  display: none;
}

.nav-schedule-btn {
  display: none;
}

body {
  background-image: url(../../images/hero-back-mob.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-size: contain;
}

@media (min-width: 500px) {
  body {
    background-image: url(../../images/hero-back-tab.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
  }
}
@media (min-width: 728px) {
  body {
    background-image: url(../../images/hero-back-tab.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
  }
  .nav-logo-list {
    display: flex;
    align-items: center;
    gap: 64px;
    font-family: PS700;
  }
  .navbar-wrapper {
    margin-bottom: 32px;
  }
  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }
  .nav-list a {
    color: rgb(54, 83, 107);
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    opacity: 0.7;
  }
  .nav-list a:active {
    color: rgb(4, 18, 31);
  }
  .nav-menu {
    display: none;
  }
  .nav-schedule-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    width: 173px;
    padding-top: 16px;
    padding-bottom: 14px;
    background-color: #BA4270;
    border: none;
  }
  .nav-schedule-btn:active {
    background-color: #c6688c;
  }
  .nav-schedule-btn p {
    color: rgb(251, 252, 254);
    font-size: 15px;
    font-family: PS700;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: -0.12px;
    text-align: left;
  }
}
@media (min-width: 1000px) {
  body {
    background-image: url(../../images/nav-hero-back.svg);
    background-repeat: no-repeat;
    background-size: 680px 580px;
    background-position-x: right;
  }
}
.hero-section {
  padding-bottom: 70px;
}

.hero-phone {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-phone img {
  width: 113px;
  height: 223px;
}

.hero-title {
  font-family: DM400;
  color: rgb(54, 83, 107);
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.25px;
  text-align: center;
  margin-bottom: 50px;
}

.hero-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}
.hero-form input {
  width: 100%;
  padding: 16px 0px 14px 27px;
  border: none;
  background-color: #FBFCFE;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  color: rgb(54, 83, 107);
  font-size: 15px;
  font-weight: 700;
  font-family: PS700;
  line-height: 18px;
  text-align: left;
  opacity: 0.5;
}

.hero-form-btn {
  width: 100%;
  border: none;
  border-radius: 24px;
  background: rgb(186, 66, 112);
}
.hero-form-btn:active {
  background-color: #c6688c;
}
.hero-form-btn p {
  font-family: PS700;
  padding: 16px 0 14px 0;
  color: rgb(251, 252, 254);
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.12px;
  text-align: center;
}

.hero-form-question {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(108, 130, 148);
  font-size: 15px;
  font-family: PS400;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
}
.hero-form-question bold {
  font-family: PS700;
  color: rgb(108, 130, 148);
}

@media (min-width: 500px) {
  .hero-title {
    margin: 0 auto;
    width: 60%;
    margin-bottom: 50px;
  }
}
@media (min-width: 700px) {
  .hero-phone {
    margin-bottom: 48px;
  }
  .hero-phone img {
    width: 141px;
    height: 279px;
  }
  .hero-title {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 22px;
  }
  .hero-title p {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.37px;
  }
  .hero-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
  }
  .hero-form input {
    position: relative;
    width: 445px;
  }
  .hero-form-btn {
    position: absolute;
    left: 56%;
    width: 173px;
  }
}
@media (min-width: 1000px) {
  .hero-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .hero-phone {
    order: 2;
    margin-bottom: 0px;
  }
  .hero-phone img {
    width: 257px;
    height: 498px;
  }
  .hero-content {
    order: 1;
    width: 70%;
  }
  .hero-title {
    width: 80%;
    margin: 0;
    margin-bottom: 52px;
  }
  .hero-title p {
    font-size: 72px;
    font-weight: 400;
    line-height: 72px;
    letter-spacing: -0.55px;
    text-align: left;
  }
  .hero-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .hero-form input {
    position: relative;
    width: 445px;
  }
  .hero-form-btn {
    position: absolute;
    left: 360px;
    width: 173px;
  }
  .hero-form-question {
    width: 44%;
    padding-left: 4%;
    display: flex;
    justify-content: start;
  }
}
@media (min-width: 1300px) {
  .hero-section {
    padding-bottom: 75px;
  }
  .hero-wrapper {
    display: flex;
    align-items: center;
    gap: 250px;
  }
  .hero-content {
    width: 50%;
  }
  .hero-title {
    width: 78%;
  }
}
.work-section {
  padding: 80px 0 80px 0;
}

.work-section {
  background-color: #1B262F;
}

.work-with {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 58px;
}

.work-desc-title {
  margin-bottom: 16px;
}
.work-desc-title p {
  color: rgb(251, 252, 254);
  font-family: DM400;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.25px;
  text-align: center;
}

.work-desc-text {
  color: rgb(251, 252, 254);
  font-family: PS400;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 60px;
}

.work-about-btn {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 129px;
  padding: 16px 0 14px 0;
  border: 1px solid rgb(251, 252, 254);
  border-radius: 24px;
  background-color: transparent;
}
.work-about-btn:active {
  background-color: white;
}
.work-about-btn:active p {
  color: #1B262F;
}
.work-about-btn p {
  color: rgb(251, 252, 254);
  font-family: PS700;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.12px;
  text-align: center;
}

@media (min-width: 500px) {
  .work-section {
    padding: 88px 0 88px 0;
  }
  .work-desc-text {
    margin: 0 auto;
    margin-bottom: 32px;
    width: 456px;
  }
}
@media (min-width: 700px) {
  .work-with {
    display: flex;
    justify-content: space-between;
    width: 540px;
    margin: 0 auto;
    gap: 60px;
    margin-bottom: 71px;
  }
  .work-desc-title {
    margin-bottom: 24px;
  }
  .work-desc-title p {
    color: rgb(251, 252, 254);
    font-family: DM400;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.37px;
    text-align: center;
    margin-bottom: 16px;
  }
}
@media (min-width: 1000px) {
  .work-section {
    padding: 100px 0 100px 0;
  }
  .work-wrapper {
    display: flex;
    align-items: start;
    gap: 40px;
  }
  .work-desc-title p {
    text-align: start;
  }
  .work-desc-text p {
    text-align: start;
  }
  .work-about-btn {
    margin: 0;
  }
  .work-desc {
    order: 1;
  }
  .work-with {
    order: 2;
  }
}
@media (min-width: 1300px) {
  .work-wrapper {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 131px;
  }
}
.easy-wrapper {
  padding: 80px 0 80px 0;
}

.easy-code {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.easy-code img {
  width: 328px;
  height: 209px;
}

.easy-desc-title {
  margin-bottom: 24px;
}
.easy-desc-title p {
  color: rgb(54, 83, 107);
  font-family: DM400;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.28px;
  text-align: center;
}

.easy-desc-text p {
  color: rgb(108, 130, 148);
  font-family: PS400;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

@media (min-width: 700px) {
  .easy-wrapper {
    padding: 100px 0 100px 0;
  }
  .easy-code img {
    width: 391px;
    height: 250px;
  }
  .easy-desc-title p {
    color: rgb(54, 83, 107);
    font-family: DM400;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.37px;
  }
  .easy-desc-text {
    margin: 0 auto;
  }
}
@media (min-width: 1000px) {
  .easy-wrapper {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .easy-code img {
    width: 445px;
    height: 284px;
  }
  .easy-desc {
    width: 445px;
  }
  .easy-desc-title p {
    text-align: start;
  }
  .easy-desc-text {
    display: flex;
    margin: 0;
  }
  .easy-desc-text p {
    text-align: start;
  }
}
@media (min-width: 1300px) {
  .easy-wrapper {
    padding: 150px 0 150px 0;
  }
  .easy-wrapper {
    gap: 125px;
  }
}
.simple-wrapper {
  padding: 0 0 80px 0;
}

.simple-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.simple-phone {
  margin-bottom: 48px;
}
.simple-phone img {
  width: 152px;
  height: 290px;
}

.simple-desc-title {
  margin-bottom: 24px;
}
.simple-desc-title p {
  color: rgb(54, 83, 107);
  font-family: DM400;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.28px;
  text-align: center;
}

.simple-desc-text p {
  color: rgb(108, 130, 148);
  font-family: PS400;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

@media (min-width: 200px) {
  .simple-phone img {
    width: 100%;
    height: 230px;
  }
}
@media (min-width: 360px) {
  .simple-phone img {
    width: 152px;
    height: 290px;
  }
}
@media (min-width: 700px) {
  .simple-wrapper {
    padding: 0 0 100px 0;
  }
  .simple-mobile {
    gap: 40px;
  }
  .simple-desc-title p {
    color: rgb(54, 83, 107);
    font-family: DM400;
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    letter-spacing: -0.37px;
  }
  .simple-desc-text p {
    text-align: start;
  }
}
@media (min-width: 1000px) {
  .simple-wrapper {
    padding: 0 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  .simple-desc {
    width: 40%;
    order: 1;
  }
  .simple-desc-title {
    display: flex;
    justify-content: start;
  }
  .simple-mobile {
    order: 2;
  }
  .simple-phone {
    margin-bottom: 0px;
  }
  .simple-phone img {
    width: 263px;
    height: 500px;
  }
}
@media (min-width: 1300px) {
  .simple-wrapper {
    padding: 0 0 150px 0;
    gap: 95px;
  }
}
.info-wrapper {
  padding-bottom: 90px;
}

.info-cards {
  display: flex;
  flex-direction: column;
  gap: 48px;
  margin-bottom: 100px;
}

.info-card-img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #36536B;
  width: 106px;
  height: 106px;
  border-radius: 50%;
  margin-bottom: 33px;
}

.info-card-title {
  margin-bottom: 16px;
}
.info-card-title p {
  color: rgb(54, 83, 107);
  font-family: PS700;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.14px;
  text-align: center;
}

.info-card-text p {
  color: rgb(108, 130, 148);
  font-family: PS400;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.12px;
  text-align: center;
}

.info-form-title p {
  color: rgb(54, 83, 107);
  font-family: DM400;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.25px;
  text-align: center;
  margin-bottom: 32px;
}

.info-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
  width: 100%;
}
.info-form input {
  width: 100%;
  padding: 16px 0px 14px 27px;
  border: none;
  background-color: #FBFCFE;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  color: rgb(54, 83, 107);
  font-size: 15px;
  font-weight: 700;
  font-family: PS700;
  line-height: 18px;
  text-align: left;
  opacity: 0.5;
}

.info-form-btn {
  width: 100%;
  border: none;
  border-radius: 24px;
  background: rgb(186, 66, 112);
}
.info-form-btn p {
  font-family: PS700;
  padding: 16px 0 14px 0;
  color: rgb(251, 252, 254);
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.12px;
  text-align: center;
}

@media (min-width: 750px) {
  .info-cards {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 30px;
    justify-content: space-between;
  }
  .info-form {
    margin: 0 auto;
    width: 455px;
    position: relative;
  }
  .info-form-btn {
    width: 173px;
    position: absolute;
    right: 0;
  }
}
@media (min-width: 1000px) {
  .info-form-title p {
    font-size: 48px;
  }
  .info-title-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 90px;
  }
}
@media (min-width: 1300px) {
  .info-title-form {
    gap: 400px;
  }
}
.site-footer {
  background: rgb(27, 38, 47);
  padding: 41px 0 55px 0;
}

.footer-logo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-logo {
  margin-bottom: 40px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;
  margin-bottom: 40px;
}
.footer-list a {
  opacity: 0.7;
  color: rgb(251, 252, 254);
  font-family: PS700;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
}
.footer-list a:active {
  opacity: 1;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

@media (min-width: 600px) {
  .site-footer {
    padding: 35px 0 35px 0;
  }
  .footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
  }
  .footer-logo-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 34px;
  }
  .footer-logo {
    margin-bottom: 0px;
  }
  .footer-list {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    margin-bottom: 0px;
  }
}
@media (min-width: 700px) {
  .footer-logo-list {
    gap: 64px;
  }
  .footer-list {
    gap: 40px;
  }
}